/**********************************
SP mode(初期スタイル)
**********************************/

/* 変数 */
:root {
  --black: #333;
  --dark-gray: #999;
  --gray: #d9d9d9;
  --light-gray: #f6f6f6;
  --white: #fff;

  --light-orange: #fae7e1;
  --orange: #ffb3a0;
  --dark-orange: #ff4000;

  --red: #ef4444;
  --red-hover-color: #b91c1b;
  --red-active-color: #c9504c;

  --header-height: 5dvh;
  --header-margin-top-bottom-pc: 1.5rem;
  --group-tabs-height: 2.5rem;
}

* {
  padding: 0;
  margin: 0;
  /* タップ時ハイライトを消す */
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    background-color: var(--light-gray);
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-gray);
  }

  /* タップ時ハイライトを消す */
  &:focus {
    outline: none;
  }
}

html {
  /* 1rem */
  font-size: 15px;
  color: var(--black);
  background-color: var(--light-gray);
  height: 100dvh;
}

/**********************************
共通
**********************************/
.common__label {
  font-weight: 550;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--gray);
}

.common__label--active {
  background-color: var(--orange);
}
/**********************************
ヘッダー
**********************************/
.header {
  margin: 0.5rem 1rem;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__left {
    display: flex;
    align-items: center;
    gap: 1rem;

    .header__title {
      font-size: 1.4rem;
      font-weight: bold;
      a {
        text-decoration: none;
        color: var(--black);
      }
    }
  }

  .header__right {
    margin-top: 0.2rem;
    .header__icons {
      display: flex;
      justify-content: right;
      align-items: center;
      cursor: pointer;
      gap: 0.3rem;

      .header__icon {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }

      .header__icon--active {
        opacity: 1;
      }
    }
  }
}
/**********************************
メイン
**********************************/
.main {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
  height: calc(100dvh - var(--header-height) - 2rem);
}

.main__emplty {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************************
種目ボタン
*************************************/
.event-dropdown {
  position: relative;
  width: fit-content;
  width: 7rem;
}

.event-dropdown__selected {
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  border-radius: 1rem;
  background-color: var(--black);
  cursor: pointer;
  color: var(--white);
  user-select: none;

  .event-dropdown__text {
    width: 4rem;
    text-align: center;
  }

  .event-dropdown__icon {
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease; /* スムーズな回転 */
  }

  .event-dropdown__icon--open {
    transform: rotate(-180deg);
  }
}

.event-dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--light-gray);
  border-radius: 1rem;
  box-shadow: 0 0 0.2rem 0.05rem var(--gray);
  z-index: 1000;
}

.event-dropdown__item {
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  color: var(--black);
}

.event-dropdown__item--active {
  background-color: var(--black);
  color: var(--white);
}

/********************************************
要求グループタブ 
********************************************/
.group-tabs {
  background-color: var(--white);
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .group-tabs__item {
    cursor: pointer;
    padding: 0.5rem;
    white-space: nowrap;
    user-select: none;
    font-size: 1.1rem;
  }
  .group-tabs__item:hover:not(.group-tabs__item--active) {
    color: var(--dark-gray);
  }
  .group-tabs__item--active {
    transition: all 0.2s;
    border-bottom: 0.1rem solid var(--dark-gray);
    font-weight: bold;
  }
}

/********************************************
難度表
********************************************/
.elements {
  padding: 0.5rem 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem 0.1rem var(--gray);
  .elements__header {
    height: var(--group-tabs-height);
    position: sticky;
    top: 0;
  }
  .elements__group {
    padding: 1.5rem 0;
    height: calc(100% - var(--group-tabs-height));
    overflow: scroll;

    .elements__row {
      padding: 0 1rem 0 0;
      width: fit-content;
      display: flex;
      flex-wrap: nowrap;

      .elements__tile {
        min-width: 13rem;
        max-width: 13rem;
        min-height: 5rem;
        padding: 1rem;
        margin: 0.2rem;
        border-radius: 0.5rem;
        background-color: var(--white);
        box-shadow: 0 0 0.2rem 0.05rem var(--gray);
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        user-select: none;

        .elements__labels {
          display: flex;
          gap: 0.5rem;
          font-size: 0.8rem;
        }

        .elements__alias {
          font-weight: bold;
          padding: 0.2rem;
        }
        .elements__name {
          font-size: 0.9rem;
        }
      }

      /* 選択可能状態 */
      .elements__tile--active {
        &:hover {
          cursor: pointer;
          background-color: var(--light-gray);
        }
      }

      /* 選択済状態(解除可能) */
      .elements__tile--selected {
        background-color: var(--light-orange);

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      /* 制限状態（未選択・解除不可） */
      .elements__tile--disabled {
        opacity: 0.5;
      }
    }
  }
}

.elements--full {
  width: 100%;
}
.elements--side {
  width: calc(50%);
}

.elements--disabled {
  display: none;
}

/********************************************
演技構成表
********************************************/
.routine {
  padding: 1rem 0.8rem 1rem 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem 0.1rem var(--gray);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: calc(100%);
  overflow-y: scroll;

  .routine__title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid var(--dark-gray);
    padding: 0 0 0.5rem 0;

    .routine__title {
      font-weight: bold;
      font-size: 1.1rem;
    }

    .routine__delete {
      position: relative;
      cursor: pointer;
      .routine__delete-icon {
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }

      .routine__delete-menu {
        position: absolute;
        top: 2rem;
        right: 0;
        width: max-content;
        background-color: var(--white);
        box-shadow: 0 0.15rem 0.5rem 0.01rem var(--dark-gray);
        border-radius: 0.5rem;
        padding: 1rem 1.5rem;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .routine__delete-title {
          font-weight: bold;
        }

        .routine__detete-textbox {
          display: flex;
          justify-content: center;
          gap: 1.5rem;

          .routine__delete-button {
            padding: 0.3rem 0.6rem;
            border-radius: 0.5rem;
            border: 0.1rem solid var(--gray);
            cursor: pointer;
            font-size: 0.9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 6rem;
            &:hover {
              background-color: var(--light-gray);
            }
          }

          .routine__delete-button--alert {
            background-color: var(--red);
            border: none;
            color: var(--white);

            &:hover {
              background-color: var(--red-hover-color);
            }
          }
        }
      }
    }
  }

  .routine__table {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;

    .routine__elements {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      background-color: var(--light-orange);
      padding: 1rem 0.2rem 1rem 0.5rem;

      .routine__element--header {
        font-weight: bold;
      }

      .routine__element {
        padding: 0.2rem;
        display: grid;
        /* No. Connection, Name, EG, 難度, 削除 */
        grid-template-columns: 1rem 1rem 1fr 3rem 2rem 1rem;
        column-gap: 0.3rem;

        .routine__item {
          display: flex;
          justify-content: left;
          align-items: center;
          line-height: 1.4rem;
        }

        .routine__item--center {
          justify-content: center;
        }

        .routine__item--hidden {
          display: none;
        }

        .routine__icon {
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0.2;
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }

        .routine__icon--active {
          opacity: 1;
        }
      }

      .routine__element--with-cv {
        /* No. Connection, Name, EG, 難度, CV, 削除 */
        grid-template-columns: 1rem 1rem 1fr 3rem 2rem 2rem 1rem;
      }

      .routine__element--unqualified {
        text-decoration: line-through;
      }

      .routine__element--footer {
        font-weight: bold;
        /* border-top: 0.1rem solid var(--dark-gray); */
      }
    }

    .routine__empty-box {
      background-color: var(--light-orange);
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      .routine__empty-message-box {
        text-align: center;

        .routine__empty-message--bold {
          font-weight: bold;
        }

        .routine__empty-message--small {
          font-size: 0.9rem;
        }
      }

      .routine__empty-button {
        font-weight: bold;
        border-radius: 0.5rem;
        padding: 0.6rem 1rem;
        border: 0.1rem solid var(--dark-orange);
        color: var(--dark-orange);
        &:hover {
          cursor: pointer;
          background-color: var(--orange);
          transition: all 0.3s;
          user-select: none;
        }
      }
    }

    .routine__summaries {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .routine__summary {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        gap: 0.5rem;
        align-items: center;
      }
    }
  }

  /* 演技構成表下のルール */
  .routine__rules {
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* セクション間隔 */

    .rules__section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .rules__section-header {
      .rules__section-title {
        font-weight: bold;
      }
    }
    .rules__details {
      border-radius: 0.5rem;
      box-shadow: 0 0 0.2rem 0.1rem var(--gray);

      summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1.5rem 0.5rem 1rem;
        cursor: pointer;
        font-weight: bold;

        .rules__summary-title {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          width: calc(100% - 1.2rem);

          .rules__summary-labels {
            display: flex;
            align-items: center;
            gap: 0.2rem;
          }
        }

        &::-webkit-details-marker {
          /* detailsの三角形のアイコンを非表示に */
          display: none;
        }

        &::after {
          transform: translateY(-25%) rotate(45deg);
          width: 0.5rem;
          height: 0.5rem;
          border-bottom: 0.1rem solid var(--black);
          border-right: 0.1rem solid var(--black);
          content: "";
          transition: transform 0.3s;
        }
      }

      .rules__description {
        opacity: 0;
        margin: 0;
        padding: 0.5rem 1rem 0.5rem 1rem;
        line-height: 1.2rem;

        p {
          margin-bottom: 0.5rem;
        }

        .rules__table-table {
          margin: 1rem 0;
          font-size: 0.8rem;
          font-weight: bold;
          background-color: var(--light-gray);
          padding: 0 0.5rem;
          border-radius: 0.5rem;
          width: fit-content;

          .rules__table-row {
            display: flex;
            justify-content: flex-start;
            gap: 0.3rem;
            max-width: 50rem;
            min-width: 100%;
            height: 2rem;
          }

          .rules__table-cell {
            display: flex;
            justify-content: center;
            align-items: center;
            width: min(fit-content, 100%);
            height: 100%;
          }

          .rules__table-cell--active {
            width: 100%;
            color: var(--dark-orange);
          }

          .rules__table-cell--limit {
            width: 100%;
            color: var(--dark-gray);
          }

          .rules__table-cell--1-5rem {
            width: 1.5rem;
          }

          .rules__table-cell--3rem {
            width: 3rem;
          }

          .rules__table-cell--5rem {
            width: 5rem;
          }

          .rules__table-cell--6rem {
            width: 6rem;
          }

          .rules__table-cell--12rem {
            width: 12rem;
          }

          .rules__table-cell--17rem {
            width: 17rem;
          }

          .rules__table-cell--left {
            justify-content: left;
          }
        }

        .rules__section-line {
          width: 100%;
          height: 0.1rem;
          background-color: var(--gray);
          margin: 1rem auto;
        }

        .rules__section-line--without-margin {
          width: 100%;
          height: 0.1rem;
          background-color: var(--gray);
          margin: 0;
        }

        .rules__description-label-box {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 1rem;
          margin: 1rem 0;
          background-color: var(--light-gray);
          padding: 1rem;
          border-radius: 0.5rem;
          font-size: 0.85rem;
          width: fit-content;
        }

        .rules__description-labels {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }

    .rules__details[open] {
      summary::after {
        transform: rotate(225deg);
      }

      .rules__description {
        transform: none;
        opacity: 1;
      }
    }
  }
}

.routine--full {
  width: 100%;
}
.routine--disabled {
  display: none;
}
.routine--side {
  width: calc(50% - 1rem);
}

/**********************************
PC mode
**********************************/
@media (min-width: 850px) {
  .header {
    margin: var(--header-margin-top-bottom-pc) 3rem;
    .header__title {
      font-size: 1.4rem;
    }
  }

  .main {
    margin: 0 1.5rem;
    height: calc(
      100dvh - var(--header-height) - var(--header-margin-top-bottom-pc) - 3rem
    );
  }
  /********************************************
  種目ボタン
  ********************************************/
  .event-buttons {
    display: flex;
    background-color: var(--gray);
    border-radius: 1rem;

    .event-buttons__item {
      cursor: pointer;
      padding: 0.4rem;
      width: 8.5vw;
      text-align: center;
      user-select: none;

      &:hover:not(.event-buttons__item--active) {
        color: var(--dark-gray);
      }
    }

    .event-buttons__item--active {
      border-radius: 1.5rem;
      transition: color 0.5s, background-color 0.5s;
      color: var(--white);
      background-color: var(--black);
    }
  }
  /********************************************
  難度表
  ********************************************/
  .elements {
    padding: 1rem 1.5rem;
  }
  /********************************************
  演技構成表
  ********************************************/
  .routine {
    padding: 1.5rem;
  }
}

/**********************************
hover none mode
(スマホやタブレットでhoverエフェクトが残る症状に対応するため)
**********************************/
@media (hover: none) {
  .group-tabs {
    .group-tabs__item:hover:not(.group-tabs__item--active) {
      color: var(--black);
    }
  }
  .elements {
    .elements__group {
      .elements__row {
        .elements__tile--active {
          &:hover {
            background-color: var(--white);
          }
        }

        /* 選択済状態 */
        .elements__tile--selected {
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }
  }
  .routine {
    .routine__title-box {
      .routine__delete {
        .routine__delete-icon {
          opacity: 0.8;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
